// Main background colors
$bg-main: #1A1B26;
$bg-main-tooltip: rgb(17, 17, 27);

// Base background color of selections
$bg-hover: #30304d;
// Base background color of active elements
$bg-active: #222330;
// Alternative background colors
$bg-alt: #222330;
$bg-alt2: #222330;

// Base border color
$border-main: #1A1B26;
$border-alt: #1A1B26;

// Text colors
$content-main: #b4befe;
$content-hover: #b4befe;
$content-alt: #484872;
$content-act: #7AA2F7;
// Text color for entries that are unselected
$content-inactive: rgba(180, 190, 254, 0.514);

// Player colors
$ply-main: #25253b;
$ply-hover: #363657;
$ply-act: #515181;
$msc-act: #424268;

// Colors
$white: #F1F1F1;

$red: #F7768E;
$red-light: #d26478;

$blue: #7AA2F7;
$blue-light: #6d92e1;

$green: #9ECE6A;
$green-light: #8ebc5e;

$yellow: #E0AF68;
$yellow-light: #d19e5a;

$purple-light: #583794;
$purple: #4c2f7c;